<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur illo architecto adipisci impedit numquam, expedita iste? Explicabo corporis autem necessitatibus iusto, nesciunt minus officiis commodi quae. Harum, laborum rerum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, illum saepe? In incidunt quisquam aperiam exercitationem, laboriosam voluptas illo reiciendis sed reprehenderit velit tempora, quasi quis facere iste quaerat sapiente?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat, assumenda veniam, exercitationem debitis illum non voluptatem quos odio accusantium aliquid sed quo tempora? Placeat quis fugit itaque corporis distinctio.</p>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
