---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header>
  <div class="prose prose-lg">
    <h2 class="mb-0"><a href="/">{SITE_TITLE}</a></h2>
    <p class="italic mt-0">{SITE_DESCRIPTION}</p>
  </div>
</header>

